/* ================ */
/* = The 1Kb Grid = */     /* 10 columns, 40 pixels each, with 10 pixel gutter */
/* ================ */

.grid_1 { width:40px; }
.grid_2 { width:90px; }
.grid_3 { width:140px; }
.grid_4 { width:190px; }
.grid_5 { width:240px; }
.grid_6 { width:290px; }
.grid_7 { width:340px; }
.grid_8 { width:390px; }
.grid_9 { width:440px; }
.grid_10 { width:490px; }

.column {
	margin: 0 5px;
	overflow: hidden;
	float: left;
	display: inline;
}
.row {
	width: 500px;
	margin: 0 auto;
	overflow: hidden;
}
.row .row {
	margin: 0 -5px;
	width: auto;
	display: inline-block;
}