/* ================ */
/* = The 1Kb Grid = */     /* 14 columns, 40 pixels each, with 10 pixel gutter */
/* ================ */

.grid_1 { width:40px; }
.grid_2 { width:90px; }
.grid_3 { width:140px; }
.grid_4 { width:190px; }
.grid_5 { width:240px; }
.grid_6 { width:290px; }
.grid_7 { width:340px; }
.grid_8 { width:390px; }
.grid_9 { width:440px; }
.grid_10 { width:490px; }
.grid_11 { width:540px; }
.grid_12 { width:590px; }
.grid_13 { width:640px; }
.grid_14 { width:690px; }

.column {
	margin: 0 5px;
	overflow: hidden;
	float: left;
	display: inline;
}
.row {
	width: 700px;
	margin: 0 auto;
	overflow: hidden;
}
.row .row {
	margin: 0 -5px;
	width: auto;
	display: inline-block;
}